# 要访问的 gitlab 配置
GITLAB_BASE_URL=http://192.168.1.8
GITLAB_USERNAME=coke
GITLAB_ACCESS_KEY=coke-R48zRNECBRs3SJLPsruo

# 要访问的 gitea 配置
GITEA_BASE_URL=http://localhost:50729
GITEA_USERNAME=Coke
GITEA_ACCESS_KEY=0fd67907909768233e0d2a119d64200b1330d23e
