# 要访问的 gitlab 配置
GITLAB_BASE_URL=http://192.168.1.8
GITLAB_ACCESS_KEY=coke-R48zRNECBRs3SJLPsruo

# 要访问的 gitea 配置
GITEA_BASE_URL=http://localhost:3000
GITEA_ACCESS_KEY=b2068ccc630bc483a6f651ea1722010e8a9bf865
